.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;

  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &--accent-color {
    color: $accent-color;
  }
}
